###> yarn/misc ###
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
###< yarn/misc ###

###> node/misc ###
.pnp.*
node_modules
###< node/misc ###

###> app/projects ###
projects/*
!projects/.gitkeep
###< app/projects ###

###> app/misc ###
.DS_Store
.env
###< app/misc ###

###> typescript/build ###
dist
###< typescript/build ###